<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@//sm-orcl01.tismartperu.com:1521/db_indeci</property>
    <property name="hibernate.connection.username">uindeci</property>
    <property name="hibernate.connection.password">uindeci</property>
    <mapping resource="com/tismart/voluntariado/bean/VolPerfil.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolActividadvoluntario.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolProfesion.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolTipdocum.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolCargo.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolCerificacion.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolCapacitacion.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolPais.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolEvento.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolConfirmacion.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolGradoacade.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolActifisica.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolGrupo.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolGsanguineo.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolVoluntario.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolProvincia.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolDepartamento.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolDistrito.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolEstavolun.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolActivoluntDet.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolVolusespad.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolEspecialidad.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolTermlegal.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolOpcion.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolVacuna.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolEvenvoluntDet.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolUsuario.hbm.xml"/>
    <mapping resource="com/tismart/voluntariado/bean/VolTipvolun.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
